<p>rf-register works!</p>
<div class="theDiv">
    <form [formGroup]="registerationForm" class="col-4 pos theForm">
        <div class="form-outline mb-4">
            <label class="form-label" for="userName">User name</label>
            <input formControlName="username" [class.is-invlaid]="userName?.touched && userName?.invalid" type="text" class="form-control" />
            <div *ngIf="userName?.invalid && userName?.touched">
                <small class="text-danger" *ngIf="userName?.errors?.['required']">User name required !</small>
                <small class="text-danger" *ngIf="userName?.errors?.['pattern']">User name contains only capital and small characters !</small>
            </div>
            
        </div> 
      <div class="form-outline mb-4">
        <label class="form-label" for="email">Email address</label>
        <input type="email" formControlName="email" [class.is-invalid]="email?.touched && email?.invalid" class="form-control" />
      <div *ngIf="email?.touched && email?.invalid">
      <small class="text-danger" *ngIf="email?.errors?.['pattern']">Email must be like this "aaa@bb.com"</small>
      <small class="text-danger" *ngIf="email?.errors?.['required']">Email required</small>
      </div>
      </div>
    
      <div class="form-outline mb-4">
        <label class="form-label" for="pass">Password</label>
        <input type="password" formControlName="password"  [class.is-invalid]="password?.touched && password?.invalid"  class="form-control" />
      <div *ngIf="password?.touched && password?.invalid">
        <small class="text-danger" *ngIf="password?.errors?.['required']">Password required </small>
        <small class="text-danger" *ngIf="password?.errors?.['minlength']">Password must be minimum 6 digit length</small>
      </div>
    </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="confirmPass">Confirm Password</label>
        <input type="password" [class.is-invalid]="registerationForm.errors?.['misMatch']" formControlName="confPassword" class="form-control" />
        <small class="text-danger" *ngIf="registerationForm.errors?.['misMatch']">Dismatch password</small>
    </div>
     
      <div class="form-outline mb-4">
        <label class="form-label" for="whereYouHear">Where you hear about us</label>
        <select id="whereYouHear" formControlName="whereYouHearOptions" class="custom-select">
            <option *ngFor="let o of whereYouHearDropDown">
                {{o}}
            </option>

        </select>
      </div>
    
      <!-- Submit button -->
      <div class="justify-content-center">
      <input type="submit" disabled *ngIf="registerationForm.invalid" (click)="SignUp()" class="btn btn-danger btn-block mb-4"  value="Signup" width="50%">
      <input type="submit" *ngIf="registerationForm.valid" (click)="SignUp()" class="btn btn-success btn-block mb-4"  value="Signup" width="50%">
     </div>
    </form>

</div>
<br><br>
